:root {
  --main: #ef9192;
  --second: #c7e7ee;
  --text:#394f4c;
}

/* header style */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.scoreLink {
  text-decoration: none;
  color: var(--main);
  cursor: crosshair;
}
.scoreLink:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 2px;
  background-repeat: repeat-x;
  text-decoration: none;
  color: var(--text);
}
.time {
  color: var(--main);
}

/* main & result section share style */
.quizSection,
.highScoreSection {
  display: flex;
  height: 80vh;
}

/* main */
.backgroundImg {
  flex: 1.5;
  background-image: url(./images/quiz.gif);
  justify-content: stretch;
}
.content {
  flex: 4;
  text-align: center;
  background-color: var(--main);
  padding-top: 3%;
  box-shadow: -30px 40px 30px rgba(0, 0, 0, 0.5);
  margin-right: 3%;
  border-radius: 5px;
}
.text {
  padding: 3% 10%;
  color: var(--second);
  line-height: 1.5;
}
.toDisplayQuestion {
  font-size: 35px;
}
.message {
  margin-top: 30px;
  text-decoration: underline;
  font-size: 20px;
  color: var(--text);
  font-weight: bold;
}

/* section style  */
.resultText {
  padding: 3% 10% 5%;
  color: var(--second);
  font-size: 25px;
}
.seeResultSection {
  display: none;
}
.initials {
  color: var(--text);
  font-size: 25px;
  height: 40px;
  width: 23%;
  border-radius: 10px;
  margin-bottom: 15px;
}
form {
  background-color: var(--second);
  padding: 30px;
  margin: 0 auto;
  width: 55%;
  border-radius: 10px;
  box-shadow: -30px 50px 35px rgba(0, 0, 0, 0.4);
}

/* share style of buttons for all html*/
.runButton {
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--main);
  font-weight: bold;
  background-color: var(--second);
  cursor: crosshair;
}
button:hover,
.false:hover,
.true:hover {
  cursor: crosshair;
  background-color: var(--text);
  color: var(--main);
}
.false,
.true {
  padding: 10px 20px;
  width: 30%;
  background-color: var(--second);
  color: var(--text);
  margin: 5px;
  font-weight: bold;
}
.submitButton {
  display: block;
  margin: 0 auto;
  background-color: var(--main);
  padding: 7px 15px;
  border-radius: 20px;
}

/* style for scores records html page */
.highScoreContent {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  background-color: var(--main);
  padding: 3%;
  box-shadow: -30px 40px 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.scoresList {
  margin: 5%;
  color: var(--text);
  line-height: 1.5;
  text-align: left;
  padding-left: 40%;
}
h1 {
  text-align: center;
  color: var(--text);
  margin-bottom: 20px;
}

@media (max-width: 980px) {
  .backgroundImg {
    display: none;
  }
  .content {
    margin: 3%;
  }
}

@media (max-width: 768px) {
  .initials {
    font-size: 19px;
    width: 26%;
  }
}